@font-face {
    font-family: 'cheri';
    src: url('/terka/cheri.regular.ttf') format('woff2'); /* Replace with the actual path to your font file */
    font-weight: normal;
    font-style: normal;
}

body {
    position: relative;
    margin: 0;
    font-family: cheri, Arial;
    background-color: #940B92;
    z-index: 1;
    overflow: hidden;
}

img {
    width: 17px;
    height: 17px;
    position: absolute;
    transform: rotate(90deg);
    margin-left: 2px;
    cursor: pointer;
}